@page
@model Diakok.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Diákok Listája</h1>

<p>
    <a asp-page="Create"><h4>Új diák létrehozása</h4></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Név
            </th>
            <th>
                Évfolyam
            </th>
            <th>
                Születési dátum
            </th>
            <th>
                Telefon
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StudentID"><h5>Osztalyzat hozzáadása</h5></a>
            </td>
        </tr>
}
    </tbody>
</table>
