@page
@model Diakok.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Diákok Listája</h1>

<p>
    <a asp-page="Create">Új diák létrehozása</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Név
            </th>
            <th>
                Évfolyam
            </th>
            <th>
                Születési dátum
            </th>
            <th>
                Telefon
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Diak) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evfolyam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Szul_datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DiakID">Osztalyzat hozzáadása</a>
            </td>
        </tr>
}
    </tbody>
</table>
